.movie {
    flex-basis: calc(25% - 20px);
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.movie img {
    width: 200px;
    height: 230px;
}
.movieTitle {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
.selectButton {
    display: block;
    width: 100%;
    padding: 8px 0;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.selectButton:hover {
    background-color: #0056b3;
}
.featured-movie {
    flex-basis: calc(100% - 20px);
}